<!DOCTYPE html>
<html lang="en">
     
     <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    
    <title>Events</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
    .a
    {
         text-align: center;
    }

   body
   {
     background: transparent;
   }
    </style>
    </head>
    <body>
       
     <div class="a">
          <h1>Event Genres</h1>
     </div>
     
     
     <div class="container">   
          <div class="row">
               
               
               
               <div class="col s12 m4">
                    <div class="card">
                         <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                         </div>
                         <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">
                                   Genesis
                                   <i class="material-icons right">+</i>
                              </span>
                              
                         </div>
                         <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Genesis<i class="material-icons right">X</i></span>
                              <p>Kshitij, IIT Kharagpur presents Genesis as a genre for the young and challenging minds with kinds of brain-teasing events that require intricate problem-solving skills. The participants are challenged at various levels of intricacy requiring them to up their game at each level. Get ready to be mind-challenged and boggled with the various events to be presented in this genr</p>
                              Events
                              <ol>
                                   <li>Woodstock</li>
                                   <li>Supply Matrix</li>
                                   <li>Relic Hunter</li>
                              </ol>
                         </div>
                    </div>
               </div>

                    <div class="col s12 m4">
                         <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                   <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                              </div>
                              <div class="card-content">
                                   <span class="card-title activator grey-text text-darken-4">
                                        Quizzard
                                        <i class="material-icons right">+</i>
                                   </span>
                                   
                              </div>
                              <div class="card-reveal">
                                   <span class="card-title grey-text text-darken-4">Quizzard<i class="material-icons right">X</i></span>
                                   <p>Quizzes and puzzles have always been a very captivating means of learning and have always allowed us to think more innovatively and out of the box. Kshitij, IIT Kharagpur organizes various events under the genre Quizzard for all the innovative minds out there to flaunt their intelligence and creative quizzing skills for them to stand in the crowd.</p>
                                   Events
                                   <ol>
                                        <li>Tech Quiz</li>
                                        <li>Biz Quiz</li>
                                        <li>Math Olympiad</li>
                                   </ol>
                              </div>
                         </div>
                    </div>


                         <div class="col s12 m4">
                              <div class="card">
                                   <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                                   </div>
                                   <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">
                                             Conceptualize
                                             <i class="material-icons right">+</i>
                                        </span>
                                        
                                   </div>
                                   <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Conceptualize<i class="material-icons right">X</i></span>
                                        <p>Think, Imagine, Formulate - The three steps to bring out the creativity in oneself and this is where Conceptualize events excel.

Kshitij, IIT Kharagpur presents yet another edition of its Conceptualize encouraging all the creative and innovative brains out there to exhibit their talent.  Use these ingenious ideas to showcase your zeal to solve real-world problems.</p>
                                        Events
                                        <ol>
                                             <li>B Plan</li>
                                             <li>Eureka</li>
                                             <li>Anadigix</li>
                                        </ol>
                                   </div>
                              </div>
                         </div>

                    



   <div class="col s12 m4">
          <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
               <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Code Conclave<i class="material-icons right">+</i></span>
               
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Code Conclave<i class="material-icons right">X</i></span>
               <p>
                         Technology is the driving force of the 21st century. Gear up, master your art of 
                         coding and portray the tech-side of your personality by delving into the events
                         under the genre. For all tech enthusiasts, coding geeks and technology-driven 
                         individuals, this genre presents you a set of events to portray your skills in the 
                         various domains of coding ranging from OverNite to reverse coding.
                         Get ready and code your heart out! </p>
               Events
               <ol>
                    <li>Source Code</li>
                    <li>Overnite</li>
                    <li>Code-O-Soccer</li>
               </ol>
             </div>
           </div>
           </div>



           <div class="col s12 m4">
                    <div class="card">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Robotics<i class="material-icons right">+</i></span>
                         
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Robotics<i class="material-icons right">X</i></span>
                         <p>Bots at the ready! 3! 2! 1! Go!!
                              The entire human race always has a curiosity for robots and the stuff they can do. Robots designed using prominent technical frameworks and innovative concepts are a treat for everyone's eyes. Kshitij, IIT Kharagpur introduces its set of robotics events that will challenge you to your extremes and force you to think out of the box to prove your mettle in the field. </p>
                         Events
                         <ol>
                              <li>Robowar</li>
                              <li>Embetronix</li>
                              <li>DroidBlitz</li>
                         </ol>
                       </div>
                     </div>
                     </div>


                     <div class="col s12 m4">
                         <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                   <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                              </div>
                              <div class="card-content">
                                   <span class="card-title activator grey-text text-darken-4">
                                        Mechanize
                                        <i class="material-icons right">+</i>
                                   </span>
                                   
                              </div>
                              <div class="card-reveal">
                                   <span class="card-title grey-text text-darken-4">Mechanize<i class="material-icons right">X</i></span>
                                   <p>In recent years, there has been a prodigious development in the field of machines and automotive. Mechanize, as the name depicts, is full of introduction to machines and automatic devices, this genre consists of events related to machines. Kshitij, IIT Kharagpur is ready to launch its series of events under this genre which tests the participant's ability to cope well with the difficulties.</p>
                                   Events
                                   <ol>
                                        <li>Sand Rover</li>
                                        <li>Laws of Motion</li>
                                        <li>Arm of Achelous</li>
                                   </ol>
                              </div>
                         </div>
                    </div>

                    <div class="col s12 m4">
                         <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                   <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                              </div>
                              <div class="card-content">
                                   <span class="card-title activator grey-text text-darken-4">
                                        Strategia
                                        <i class="material-icons right">+</i>
                                   </span>
                                   
                              </div>
                              <div class="card-reveal">
                                   <span class="card-title grey-text text-darken-4">Strategia<i class="material-icons right">X</i></span>
                                   <p>The world is driven by data. Analysis of data is what keeps the world going. It has emerged as a skill everyone is trying to gain in the present scenarios. Kshitij, IIT Kharagpur is all set to conduct an exclusive genre for all the data enthusiasts out there. Under the genre, you will portray yourself as a data scientist trying to co-relate what's hidden in data. Gear up, tighten your seat belts and be ready to reveal the tech-guy within yourself.</p>
                                   Events
                                   <ol>
                                        <li>Indian Case Challenge</li>
                                   </ol>
                              </div>
                         </div>
                    </div>

                    <div class="col s12 m4">
                         <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                   <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                              </div>
                              <div class="card-content">
                                   <span class="card-title activator grey-text text-darken-4">
                                        Industrial Architecture
                                        <i class="material-icons right">+</i>
                                   </span>
                                   
                              </div>
                              <div class="card-reveal">
                                   <span class="card-title grey-text text-darken-4">Industrial Architecture<i class="material-icons right">X</i></span>
                                   <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                   Events
                                   <ol>
                                        <li>Biomimicry</li>
                                   </ol>
                              </div>
                         </div>
                    </div>

                    <div class="col s12 m4">
                         <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                   <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                              </div>
                              <div class="card-content">
                                   <span class="card-title activator grey-text text-darken-4">
                                        Tech for Fun
                                        <i class="material-icons right">+</i>
                                   </span>
                                   
                              </div>
                              <div class="card-reveal">
                                   <span class="card-title grey-text text-darken-4">Tech for Fun<i class="material-icons right">X</i></span>
                                   <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                   Events
                                   <ol>
                                        <li>Techquila</li>
                                        <li>Snappit</li>
                                   </ol>
                              </div>
                         </div>
                    </div>
                    <div class="col s12 m4">
                         
                    </div>
                    <div class="col s12 m4">
                         <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                   <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK">
                              </div>
                              <div class="card-content">
                                   <span class="card-title activator grey-text text-darken-4">
                                        Game Fest
                                        <i class="material-icons right">+</i>
                                   </span>
                                   
                              </div>
                              <div class="card-reveal">
                                   <span class="card-title grey-text text-darken-4">Game Fest<i class="material-icons right">X</i></span>
                                   <p><b>"Gamers don't fear the Apocalypse, they have seen it many times before"</b><br><br>
                                        The ultimate fighting game tournament is here. So make your brigade ready. As no individual can win a game by himself. Krypton 3.0 is one of the biggest celebrations of gaming and technology giving gamers a platform to showcase their skills. It is a must-visit for the lovers of digital and gaming lifestyle.</p>
                                   Events
                                   <ol>
                                        <li>Krypton 2.0</li>
                                   </ol>
                              </div>
                         </div>
                    </div>
               



                     <div class="col s12 m4">
                              
                               </div>
   </div>
</div>
    </body>
    </html>