<!DOCTYPE html>
<html lang="en"><link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!--Meta-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Title-->
	<title>Coming Soon</title>
	<!--CSS-->
	<link rel="stylesheet" href="PULSE%20-%20Coming%20Soon_files/main-blue.css" id="color-switcher">
	<link rel="stylesheet" href="PULSE%20-%20Coming%20Soon_files/font-awesome.css">
	<link rel="stylesheet" href="PULSE%20-%20Coming%20Soon_files/jquery.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="https://pulse.octracestudio.com/single/favicon.ico" type="image/x-icon">
	<!--Fonts-->
	<link href="PULSE%20-%20Coming%20Soon_files/css.css" rel="stylesheet">
<script src="PULSE%20-%20Coming%20Soon_files/jquery.js"></script></head>
<body>
	<!--Hero-->
	<div class="hero active" id="particles-js">
		<div class="centered">
			
			<h2 class="heading">Coming Soon</h2>
			<div class="countdown" id="countdown"><div class="count-box"><h2 class="countdown-num">0</h2> <h4 class="countdown-word">days</h4></div><div class="count-box"><h2 class="countdown-num">0</h2> <h4 class="countdown-word">hours</h4></div><div class="count-box"><h2 class="countdown-num">00</h2> <h4 class="countdown-word">minutes</h4></div><div class="count-box"><h2 class="countdown-num">00</h2> <h4 class="countdown-word">seconds</h4></div></div>
			
			
			
		</div>
		
     </div>
	
		
	
	<!--Scripts-->
	

</body></html>