<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="./index.css" />
</head>

<body>
        <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                        <a href="#" class="olinks">Registration</a>
                        <a href="#" class="olinks">Event</a>
                        <a href="#" class="olinks">Workshops</a>
                        <a href="#" class="olinks">Exhibition</a>
                        <a href="#" class="olinks">Guest Lecture</a>
                        <a href="#" class="olinks">Accomodation</a>
                        <a href="#" class="olinks">Notices</a>
                        <a href="#" class="olinks">Sponsors</a>
                        <a href="#" class="olinks">Contact us</a>
                        <a href="#" class="olinks">Login</a>
                </div>
        </div>

        <span class="navig" style="font-size:30px;cursor:pointer" onClick="openNav()">&#9776;</span>

        <img src="./images/iit.png" class="left other" alt="Snow"></img>
        <a class="links" href="#">Home</a>
        <a class="links" href="#">Registration</a>
        <a class="links" href="#">Event</a>
        <a class="links" href="#">Workshops</a>
        <a class="links" href="#">Exhibition</a>
        <a class="links" href="#">Guest Lecture</a>
        <a class="links" href="#">Login</a>
        <img src="./images/topright.png" class="right other" alt="Snow"></img>
        <div class='wrap'>
                <div id='stars'></div>
                <div id='stars2'></div>
                <div id='stars3'></div>
        </div>
        <main class="main">
                <div class="container">
                        <div class="middle">


                                
                                <img src="./images/ktj.png" class="logo" alt="Snow"></img>


                        </div>
                        <div style="clear:both" style="color: white;"></div>
                        <div class="bleft">
                                <a href="#" class="blinks">Accomodation</a>
                                <a href="#" class="blinks">Sponsors</a>
                        </div>
                        <div class="bottom">
                                <a href="https://www.facebook.com/ktj.iitkgp/"><img src="./images/facebook.png"
                                                alt="Snow" style="width:7%;margin:0% 2%"></img></a>
                                <a href="https://www.instagram.com/ktj.iitkgp/"><img src="./images/instagram.png"
                                                alt="Snow" style="width:7%;margin:0% 2%"></img></a>
                                <a href="https://www.youtube.com/channel/UCJBD3V9lQm8d5uYICtePhTA"><img
                                                src="./images/youtub.png" alt="Snow"
                                                style="width:8%;margin:0% 2%;padding-bottom:1%"></img></a>
                        </div>
                        <div class="bright" style="color: white;">
                                <a href="#" class="blinks">Notices</a>
                                <a href="#" class="blinks">Contact us</a>
                        </div>
                </div>
        </main>
</body>
<script>
        function openNav() {
                document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
                document.getElementById("myNav").style.height = "0%";
        }
</script>

</html>